@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    background-image: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1), rgba(106, 176, 251, 0.2), rgba(106, 176, 251, 0.5)) ;
    height: 100vh;
}

.image {
    display: flex;
    justify-content: center;
    height: 40vh;
    padding: 20px;
}

.container {
    width: 270px;
    margin: 20px auto;
}

h1 {
    font-weight: 400;
    color: rgb(52,114,185);
}

.text {
    margin: 20px 0;
}

.btn {
    padding: 1em 2em;
    background-color: rgb(85 130 30);
    color: white;
    font-weight: 400;
    display: inline-block;
    border-radius: 4px;
}